:root{
  --codebg: #07101e;
  --codeborder: Cyan;
  --myorange:#d65813;
  --myorange2:#c72e04;
  --linkcolor:Cyan;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background: var(--codebg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 10px;
}

body{
  background-color:#0b172a;
  color:white;
  font-family: sans-serif;
  border-color: Cyan;
  font-size: 17px;
  overflow-x: hidden;
  }

.main{
    margin-top: 60px;
    font-family: sans-serif;
    font-size: 18px;
    border-color: inherit;

  }
.top{
  border: 2px solid;
  border-color: inherit;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  max-width: 450px;
  min-width: 430px;
/*  float: left; */
}
#flex{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  border-color: inherit;
}

.minemenu{
  background-color:black;
  text-align: left;
  padding:12px;
  margin-left: -8px;
  margin-right: -8px;
  position: fixed;
  top:0;
  width: 100%;
  margin-bottom: 5px;
  }

.minemenu a{

  color:white;
  text-decoration:none;
  margin:4px;
  border: 2px solid Cyan;
  border-radius: 8px;
  font-size:20px;
  padding: 5px;
  }
#minemenul{
  float: left;
}

#intro{
  border-bottom: 2px solid var(--myorange);
  margin: 10px;
  padding-bottom: 5px;
}
.largehadding{
  font-size: 60px;
  text-align: center;
}
.tablestyle{
  border: 2px solid;
  border-color: inherit;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  border-spacing: 10px;
  font-family: monospace;
  text-decoration: none;
  }
.tablestyle a{
  color: white;
  padding: 10px;
  text-decoration: none;
  }
.tablestyle td{
  border: 2px solid;
  border-color: inherit;
  border-radius: 8px;
  padding: 20px;
  font-size: inherit;
  }
.tablestyle tr{
  border-color: inherit;
}
.tablestyle th{
  padding: 6px;
  font-size: 20px;
}
.posts{
  background-color: inherit;
  text-align: left;
  border: 2px solid;
  border-color: inherit;
  border-radius: 10px;
  color: inherit;
  margin: 20px;
  padding: 10px;
}
.separator{
  text-align: center;
  width: 100%;
  border-bottom: 2px solid var(--myorange);
  margin: 20px;
  }


.themetogle{
/*  position: absolute;
  right: 0px;
  top: 0px;*/
  float: right;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-right: 30px;
  border: 2px solid var(--myorange);
  border-radius: 20px;
}
.themetogle td{
  padding:3px;
  font-size: 15px;
  font-weight: bold;
}

.postbackround{
  margin:-8px;
  margin-bottom: -20px;
  padding-bottom: 30px;
  max-height: 1400px;
  width: 100%;
  overflow-y: auto;
  border-color: inherit;
}
.bottom{
  background-color:black;
  text-align: left;
  padding:10px;
  margin:-8px;
  margin-top: 10px;
  color: white;
  width: 100%;
  border-top: 2px solid var(--myorange);
  overflow: hidden;
  position: sticky;

}
.bottom a{
  color: white;
  text-decoration: none;
  padding: 10px;


}
.bottom p{
  padding: 10px;
}
#license{
  max-width: 500px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 2px;
  margin-bottom: 10px;


}

#links{
  float: left;
}

.logo{
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: 6px;
}

.codeblock{
  background-color: var(--codebg);
  border: 2px solid;
  border-color: var(--codeborder);
  border-radius: 10px;
  padding: 5px;
  max-width: 800px;
  margin-top: 5px;
  color: inherit;
  font-family: monospace;
  font-size: 17px;
  white-space: pre;
  overflow-x: scroll;
}

code{
  background-color: var(--codebg);
  border: 1px solid;
  border-color: var(--codeborder);
  border-radius: 4px;
  padding: 1px;
  max-width: 800px;
  color: inherit;
  font-family: monospace;
  font-size: 17px;
}

#content{
  margin-top: 80px;
  margin-left: 50px;
}

#side{
  background-color: black;
  max-width: 150px;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 45px;
  height: 100%;
  padding: 20px;
  font-size: 20px;
  color: white;
  }

#side a{
  color: Cyan;
}

.toggle{
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 55px;
  margin-left: 4px;
  background-color: var(--myorange);
  color: white;
  border-Color: var(--myorange2);
  border-radius: 12px;
  height: 30px;
}

.orangeline{
  border-bottom: 2px solid var(--myorange);
  width: 100%;
  margin-right: 100px;
}
li{
  color: Cyan;
}
a{
  color: var(--linkcolor);
  }

@media (max-width: 470px){
  .themetogle{
    margin-top: 10px;
    margin-bottom: -8px;
  }

  .main{
    margin-top: 100px;
  }
  #content{
    margin-top: 100px;
  }

  .toggle{
    margin-top: 75px;
  }
  #flex{
    margin-left: 0%;
  }

}
